<%# app/views/records/index.html.erb %>
<% provide :title, "Artists" %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Artists</h4>
  </div>
  <div class="panel-body">
  <%= react_component 'ReactArtists' %>
  </div>
</div>