<footer class="footer">
  <small>
    The Coin Catalog, by <a href="http://www.randomlunacy.com">Random Lunacy Productions</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>